<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="connection.password"></property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        
                <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop the existing tables and create new one -->
        <property name="hbm2ddl.auto">create</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Mention here all the model classes along with their package name -->
<!--  		<mapping class="com.isep.metier.entities.Competences2"/> -->
                
        <mapping resource="com/isep/metier/Users.hbm.xml"/>
        <mapping resource="com/isep/metier/Absences.hbm.xml"/>
        <mapping resource="com/isep/metier/Assignements.hbm.xml"/>
        <mapping resource="com/isep/metier/Competences.hbm.xml"/>
        <mapping resource="com/isep/metier/Competencesgrp.hbm.xml"/>
        <mapping resource="com/isep/metier/Famillecompetences.hbm.xml"/>
        <mapping resource="com/isep/metier/Famillecompetencesgrp.hbm.xml"/>
        <mapping resource="com/isep/metier/Groupes.hbm.xml"/>
        <mapping resource="com/isep/metier/Notes.hbm.xml"/>
        <mapping resource="com/isep/metier/Remarques.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
